*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 15px rgb(0, 0, 0,0.06);
    flex-wrap: wrap;
    width: 100%;
    

}

.header .header1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    cursor: pointer;
    width: 100%;
    height: 40px;
}

.header .header1 a{
    text-decoration: none;
    font-size: 13px;
}

.header .header1 h3 span{
    color: rgb(247, 103, 127);
}

.header .header1 .health span{
    color: blue;
}

.header .header1 .TV{
    color: rgb(253, 88, 115);
    font-weight: 900;
}

.header .header1 .emoji{
    color: rgb(253, 88, 115);
    font-weight: 800;
}

.header .header1 .emoji span{
    color: black;
    font-weight: 900;
}

.header .header1 .bi-suitcase2-fill{
    color: orange;
}

.header .header1 .bi-laptop{
    color: palevioletred;
}

.header .header1 .bi-cup-straw{
    color: rgb(226, 105, 125);
}

.header .header1 .bi-truck{
    color: palevioletred;
}

.header .header1 .bi-cart4{
    color: palevioletred;
}

.header .header1 .bi-tv{
    color: orange;
}

.header .header1 .bi-emoji-smile-fill{
    color: orange;
}
.header .mobile{
display: none;
align-items: center;
}
.header .header2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
    background-color: rgb(255, 20, 147);
    height: 60px;
    width: 100%;
    
}


.header .header2 .insert input{
width: 465px;
height: 35px;
border-radius: 4px;
border: 1px solid transparent;
}

.header .header2 .insert button{
    height: 35px;
    width: 40px;
    background-color: orange;
    border-radius: 4px;
    border: 1px solid transparent;
}

.header .header2 h1{
    font-size: 40px;
    color: white;
    font-weight: 800;
}
.header .header2 h1 span  .bi-emoji-smile-fill{
    color: orange;
}

.header .header2 a h4{
    color: white;
    font-weight: 400;
    font-size: 13px;  
}

.header .header2 a h4:hover{
    background-color: white;
    color: rgb(255, 20, 147);
    height: 40px;
    transition: 0.3;
}

.header .header2 a h3{
    color: white;
    font-weight: 400;
    font-size: 13px;   
}


.header .header2 a h3:hover{
    background-color: white;
    color: rgb(255, 20, 147);
    height: 40px;
    transition: 0.1;
}

.header .header2 .cart{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.header .header2 .cart button{
    width: 125px;
    height: 45px;
    padding: 5px 10px;
    background-color: rgb(145, 240, 145);
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header .header2 .cart button h5{
    color: white;
}

.header .header2 .cart button:hover{
    background-color: rgb(27, 88, 27);
}

.header .header3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 12px;
    padding-left: 30px;
    height: 40px;
    width: 100%;
    background-color: rgb(184, 1, 99);
    color: white;
    font-weight: 0;
    position: sticky;
}

.hero_section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 15px;
}

.hero_section .content1 img{
    width: 900px;
    height: 370px;
    border-radius: 4px;
}

.hero_section .content2 img{
    width: 180px;
    height: 180px;
    border: 1px solid transparent;
    border-radius: 4px;
    gap: 10px;
    padding: 5px 10px;

}

.mini-hero_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 25px;
    height: 80px;
}

.mini-hero_section button{
    width: 250px;
    height: 60px;
    border: 1px solid rgb(250, 246, 246);
    border-radius: 4px;
    box-shadow: 10px 10px 14px rgb(245, 240, 240);
    background-color: white;
}

.mini-hero_section button a{
    color: black;
}

.mini-hero_section button span{
    color: deeppink;
    padding-right: 5px;
}

.banner{
    background-color: rgb(197, 20, 115);
    display: flex;
    align-items: center;
    gap: 40px;
    height: 50px;
}

.banner h1{
    color: white;
    font-weight: 900;
}

.banner a{
    color: white;
}

.shop .product img{
    width: 200px;
    height: 150px;

}


.shop .product{
    width: 250px;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid rgb(238, 233, 233);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 35px rgba(102, 99, 99, 0.02);
    margin: 20px 0;
    position: relative;
}

.shop .product:hover{
    box-shadow: 10px 10px 55px rgb(0, 0, 0, 0.2);
}

.shop .product .description{
    text-align: start;
    padding: 10px 0;
}

.shop .product .description h5{
    padding-top: 7px;
    color: black;
    font-size: 25px;
}

.shop .product .description .star{
    color: gold;
}

.shop .product .description h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.shop .product .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 800;
    background-color: antiquewhite;
    color: rgb(150, 18, 88);
    border: ipx solid blanchedalmond;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
 
.shop {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.mini_footer{
padding: 15px 40px;
line-height: 20px;
border: 1px solid transparent;
margin: 10px 10px;
}

.mini_footer p{
    font-size: 15px;
    color: rgb(43, 41, 41);
    font-weight: 100px;
}

.mini_footer h3{
    padding-bottom: 5px;
    font-weight: 600;
    color: rgb(43, 41, 41);
}

.first_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 40, 40);
    margin-top: 40px;
    height: 80px;
    padding: 25px 25px;
    cursor: pointer;
}

.first_footer .email:hover{
    color: white;
}

.first_footer .email h2{
    color: rgb(151, 151, 151);
    font-size: 15px;
    padding-bottom: 5px;
}
.first_footer .email a{
    color: rgb(158, 158, 158);
    padding-left: 25px;
}

.first_footer .email h2 span .bi-envelope-open-fill{
    width: 200vh;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 5px 5px;
}

.first_footer .email h2 span .bi-telephone-fill{
    width: 200vh;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 5px 5px;
}

.first_footer .email h2 span .bi-whatsapp{
    width: 200vh;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 5px 5px;
}

.first_footer .latest{
    color: rgb(151, 151, 151);
    font-size: 15px;
}

.first_footer .latest h3{
    padding-bottom: 5px;
}

.first_footer .latest:hover{
    color: white;
}

.first_footer .email_address input{
    width: 200px;
    height: 50px;
    padding-left: 3px;
    border-radius: 5px;
}

.first_footer .email_address button{
    width: 90px;
    height: 50px;
    background-color: deeppink;
    border-radius: 5px;
    color: white;
}

.footer{
    width: 100%;
    position: absolute;
    background-color: black;
    color: rgb(170, 168, 168);
    padding: 30px 30px;
    line-height: 30px;
    display: flex;
    gap: 15px;
    height: 400px;
}

.footer .col{
    flex-basis: 25%;
    padding: 10px;
    
}

.footer .col h2{
    padding-bottom: 15px;
    font-size: 13px;
}

.footer .col a{
    display: block;
    flex-direction: column;
    color: rgb(170, 168, 168);
}

.footer .col img{
    width: 100px;
    height: 30px;
}

/* responsive
@media (max-width:799px) {
    .header .header1 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: pointer;
        width: 300px;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: aqua;
        box-shadow: 0 40px 60px rgb(0, 0, 0.6);
        padding: 20px 0 0 10px;
        gap: 15px;
    }

    .header .header1 a h3{
        margin-bottom: 0px;
        padding-bottom: 0px;

    }
} */